* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "./partials/const";
@import "./partials/header";
@import "./partials/main";
@import "./partials/body";
@import "./partials/section";
@import "./partials/formulario";
