#formulario-compra {
  display: flex;
  border: 1px black solid;
  margin-top: 20px;
  padding: 5%;
  flex-direction: column;
}

.btnCnf {
  margin-top: 5px;
  transition: transform 300ms ease-in-out;
  &:hover {
    transform: scale(1.05);
    background-color: green;
    border: 1px white solid;
    color: whitesmoke;
  }
  &:focus {
    transform: scale(0);
    background-color: green;
    color: white;
    border: 1px white solid;
  }
}

.btnCnl {
  transition: transform 300ms ease-in-out;
  &:hover {
    transform: scale(1.05);
    background-color: red;
    color: white;
    border: 1px white solid;
  }
  &:focus {
    transform: scale(0);
    background-color: red;
    color: white;
    border: 1px white solid;
  }
}
